/*------------------------------------------------ DND Styling -----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, blockquote { margin: 0 0 1em;
   &:only-child, &:last-child { margin-bottom: 0; }
}

@mixin font-weight-utilities($prefix: fw) { @for $i from 1 through 9 {    .#{$prefix}-#{$i * 100} { font-weight: #{$i * 100}; }
  }
}

@include font-weight-utilities();


/*------------------------------------------------ DND Styling -----------------------------------------------------------*/


/*------------------------------------------------ Typography -----------------------------------------------------------*/
@mixin fluid-font( $min-size, $max-size, $min-vw: 768, $max-vw: 1600 ) {
  $slope: ($max-size - $min-size) / ($max-vw - $min-vw) * 100; $base: $min-size - ($slope * $min-vw / 100);
  font-size: var(--fs, clamp( #{$min-size}px, calc(#{$base}px + #{$slope}vw), #{$max-size}px ));
}
 
$body_fonts: Google Sans, Arial, sans-serif;
$head_fonts: Arial, sans-serif;

.h1, h1 { @include fluid-font(40, 100); }
.h2, h2 { @include fluid-font(34, 44); }
.h3, h3 { @include fluid-font(26, 32); }
.h4, h4 { @include fluid-font(22, 30); }
.h5, h5 { @include fluid-font(20, 24 }
.h6, h6 { @include fluid-font(16, 18, 1024, 1600); }

.ff-body, body, p, li { @include fluid-font(16, 18, 768, 1600); font-family: $body_fonts; }
.ff-head, .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 { font-family: $head_fonts; }

/*------------------------------------------------Typography Ends -----------------------------------------------------------*/


/*-------------------------------------------- Media Query ---------------------------------------------------------------*/
@mixin minmedia($breakpoint) { @media (min-width: ($breakpoint)) { @content; } }
@mixin maxmedia($breakpoint) { @media (max-width: ($breakpoint)) { @content; } }

.box { @include minmedia(600px) { background: red; } }
.box { @include maxmedia(600px) { background: red; } }
/*--------------------------------------------------- Media Query Ends --------------------------------------------------------*/


/*-------------------------------------------------------- Plus Icon ---------------------------------------------------*/
.c-icn-plus { height: var(--plus-icn-size, 26px); width: var(--plus-icn-size, 26px); position: relative; display: inline-block;
    &:before, &:after { content: ''; width: 100%; height: var(--plus-icn-thickness, 1px); background-color: var(--plus-icn-color, currentColor); display: block; position: absolute; top: 50%;  }
    &:after { transform: rotate(90deg); }
}
.c-icn-plus--close { transform: rotate(45deg); }
/*--------------------------------------------------------- Plus Icon Ends --------------------------------------------------*/

/*--------------------------------------------------------- Grid System / Container --------------------------------------------------*/
$container_width : clamp(1280px,90.2083333333vw,1732px);
$gutter_width : 20px;

body:before { content: ""; position: fixed;  inset: 0; pointer-events: none;
z-index: 9999; opacity: 0.15; max-width: $container_width; width: 100%; margin: 0 auto; display: block; background-image: repeating-linear-gradient( to right, rgba(0, 255, 0, 1) 0, rgba(0, 255, 0, 1) calc((100% - (11 * $gutter_width)) / 12), transparent calc((100% - (11 * $gutter_width)) / 12), transparent calc((100% - (11 * $gutter_width)) / 12 + $gutter_width) ); }
.wrapper { max-width: $container_width; margin: 0 auto; width: 100%; }

/*--------------------------------------------------------- Grid System / Container Ends --------------------------------------------------*/


/*--------------------------------------------------------- Spacing --------------------------------------------------*/
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.mx-auto { margin-inline: auto; }
header, footer, aside, section, .c-block { padding: var(--pt, 40px) var(--px, 26px) var(--pb, 40px); }
/*--------------------------------------------------------- Spacing Ends --------------------------------------------------*/
