/*------------------------------------------------ DND Styling -----------------------------------------------------------*/

*, *:after, *:before { box-sizing: inherit; }

html, body, div, span, iframe, pre, a, address, big, cite, em, img, small, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline;
  box-sizing: border-box; }
  
video, img, form, iframe { max-width: 100%; width: 100%; }
video, img { object-fit: cover; height: auto; }

h1, h2, h3, h4, h5, h6, p, blockquote { margin: 0 0 1em;
   &:only-child, &:last-child { margin-bottom: 0; }
}

@mixin font-weight-utilities($prefix: fw) { @for $i from 1 through 9 {    .#{$prefix}-#{$i * 100} { font-weight: #{$i * 100}; }
  }
}

@include font-weight-utilities();


/*------------------------------------------------ DND Styling -----------------------------------------------------------*/


/*------------------------------------------------ Typography -----------------------------------------------------------*/
@mixin fluid-font( $min-size, $max-size, $min-vw: 768, $max-vw: 1600 ) {
  $slope: ($max-size - $min-size) / ($max-vw - $min-vw) * 100; $base: $min-size - ($slope * $min-vw / 100);
  font-size: var(--fs, clamp( #{$min-size}px, calc(#{$base}px + #{$slope}vw), #{$max-size}px ));
}
 
$body_fonts: Google Sans, Arial, sans-serif;
$head_fonts: Arial, sans-serif;

.h1, h1 { @include fluid-font(40, 100); }
.h2, h2 { @include fluid-font(34, 44); }
.h3, h3 { @include fluid-font(26, 32); }
.h4, h4 { @include fluid-font(22, 30); }
.h5, h5 { @include fluid-font(20, 24 }
.h6, h6 { @include fluid-font(16, 18, 1024, 1600); }

.ff-body, body, p, li { @include fluid-font(16, 18, 768, 1600); font-family: $body_fonts; }
.ff-head, .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 { font-family: $head_fonts; }

/*------------------------------------------------Typography Ends -----------------------------------------------------------*/


/*-------------------------------------------- Media Query ---------------------------------------------------------------*/
@mixin minmedia($breakpoint) { @media (min-width: ($breakpoint)) { @content; } }
@mixin maxmedia($breakpoint) { @media (max-width: ($breakpoint)) { @content; } }

.box { @include minmedia(600px) { background: red; } }
.box { @include maxmedia(600px) { background: red; } }
/*--------------------------------------------------- Media Query Ends --------------------------------------------------------*/


/*-------------------------------------------------------- Plus Icon ---------------------------------------------------*/
.c-icn-plus { height: var(--plus-icn-size, 26px); width: var(--plus-icn-size, 26px); position: relative; display: inline-block;
    &:before, &:after { content: ''; width: 100%; height: var(--plus-icn-thickness, 1px); background-color: var(--plus-icn-color, currentColor); display: block; position: absolute; top: 50%;  }
    &:after { transform: rotate(90deg); }
}
.c-icn-plus--close { transform: rotate(45deg); }
/*--------------------------------------------------------- Plus Icon Ends --------------------------------------------------*/

/*--------------------------------------------------------- Grid System / Container --------------------------------------------------*/

%mx-auto {
  margin-left: auto; margin-right: auto;
  @supports (margin-inline: auto) { margin-left: unset; margin-right: unset; margin-inline: auto; }
}

 
$container_width : clamp(1280px,90.2083333333vw,1732px);
$gutter_width : 20px;

body:before { content: ""; position: fixed;  inset: 0; pointer-events: none;
z-index: 9999; opacity: 0.15; max-width: $container_width; width: 100%; @extend %mx-auto; display: block; background-image: repeating-linear-gradient( to right, rgba(0, 255, 0, 1) 0, rgba(0, 255, 0, 1) calc((100% - (11 * $gutter_width)) / 12), transparent calc((100% - (11 * $gutter_width)) / 12), transparent calc((100% - (11 * $gutter_width)) / 12 + $gutter_width) ); }
.wrapper { max-width: $container_width; @extend %mx-auto; width: 100%; }

/*--------------------------------------------------------- Grid System / Container Ends --------------------------------------------------*/


/*--------------------------------------------------------- Spacing --------------------------------------------------*/
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.mtb-0 { margin-block: 0; }
.ptb-0 { padding-block: 0; }
.mx-auto { @extend %mx-auto; }
header, footer, aside, section, .c-block { padding: var(--pt, 40px) var(--px, 26px) var(--pb, 40px); }
/*--------------------------------------------------------- Spacing Ends --------------------------------------------------*/


/*--------------------------------------------------------- Form Elements --------------------------------------------------*/

body {

    .gform_footer button { background: transparent; border: none; padding: 0; }
    .gform_wrapper.gravity-theme .gfield_validation_message, 
    .gform_wrapper.gravity-theme .validation_message,
    .gform_wrapper.gravity-theme .gform_validation_errors { display: none; }
    .gform_wrapper.gravity-theme .gfield_error [aria-invalid=true] { border-width: 0 0 1px; }
    .gform_wrapper.gravity-theme .gform_footer { padding: 0; margin: 16px 0 0; }

    .gform_wrapper.gravity-theme .gform_fields {
        --col-gap: 10px; --row-gap: 10px; column-gap: var(--col-gap); row-gap: var(--row-gap); display: flex; flex-wrap: wrap;   
    }

    .gfield--width-half { max-width: calc( (100% - var(--col-gap) ) / 2); }
    .gfield { display: block; width: 100%; }

    input, textarea {
        &:focus { outline: none !important; }
    }

    .gform_wrapper.gravity-theme input,
    .gform_wrapper.gravity-theme textarea { font-size: clamp(13px, 0.8333333333vw, 16px) !important; font-family: Helvetica, -apple-system, Arial, sans-serif; color: #000; letter-spacing: 0.48px; border: none; border-bottom: 1px solid rgba(0,0,0,0.5); font-weight: 300;

        &::placeholder { font-size: clamp(13px, 0.8333333333vw, 16px) !important; letter-spacing: 0.48px;
        }
    }

    .gform_wrapper.gravity-theme .gfield textarea { 
        height: 120px; resize: none;
    }
}
/*--------------------------------------------------------- Form Elements Ends --------------------------------------------------*/

/*--------------------------------------------------------- Flex --------------------------------------------------*/
.o-flex { display: flex; flex-wrap: var(--wrap, wrap); flex-direction: var(--direction, row);
    justify-content: var(--justify, flex-start); align-items: var(--align, stretch); column-gap: var(--gapx, 0); row-gap: var(--gapy, 0);

    &.is-column { --direction: column; }
    &.is-reverse { --direction: row-reverse; }
    &.is-center { --justify: center; --align: center; }
    &.align-center { --align: center; }
    &.just-center { --justify: center; }
    &.just-between { --justify: space-between; }

}

/*--------------------------------------------------------- Flex Ends --------------------------------------------------*/


/*--------------------------------------------------------- Buttons --------------------------------------------------*/
%btn { font: 400 var(--fs-body, 13px) / 1 $body_fonts; color: var(--btn-color); background: var(--btn-bg, transparent); border: var(--border-width, 1px) var(--btn-border-color, #000) solid; border-radius: var(--btn-border-radius, 0); display: inline-flex; align-items: center; justify-content: space-around; cursor: pointer; transition: 0.5s ease; padding: 0;

    &:hover { background: var(--btn-hover-bg, var(--clr-secondary)); color: var(--btn-hover-color, var(--clr-white)); border-color: var(--btn-hover-border-color); text-decoration: none;  }

    &:focus { outline: none; }

    &:focus-visible { outline: var(--outline-width, 1px) dashed; outline-offset: var(--outline-offset, 2px);
    }

    :disabled, &.is-disabled { opacity: 0.5; pointer-events: none; cursor: initial;

        &:hover { transform: none; }
    }
}

%btn-reset { appearance: none; -moz-appearance: none; -webkit-appearance: none; cursor: pointer; box-sizing: border-box; }

button { @extend %btn-reset; }
.c-button { @extend %btn; }

/*--------------------------------------------------------- Buttons Ends --------------------------------------------------*/


/*--------------------------------------------------------- Common Coponents --------------------------------------------------*/

@mixin visually-hidden { clip: rect(0 0 0 0); clip-path: inset(50%); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px; }

@mixin lineclamp($lines: 4) { -webkit-box-orient: vertical; -webkit-line-clamp: $lines; overflow: hidden;
  display: -webkit-box; }

%abs-cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.wid-100 { max-width: 100%; width: 100%; }

.c-media-wrap { position: relative; overflow: hidden; }
.has-overlay:after { @extend %abs-cover; z-index: 1; background: var(--overlay); }
.has-overlay, .is-bg { @extend %abs-cover; z-index: 0; }
.is-bg { img, video, iframe { height: 100%; width: 100%; } }

.c-block { padding: var(--pt,40px) var(--px, 26px) var(--pb,40px); color: var(--color, var(--clr-black));
    background: var(--bg-color, var(--clr-white)); }
.c-btn-wrap { --gapx: 12px; --gapy: 12px; --direction: row; }

/*--------------------------------------------------------- Common Coponents Ends --------------------------------------------------*/

/*--------------------------------------------------------- Animatinos --------------------------------------------------*/
.anim { opacity: 0; transition: 0.7s cubic-bezier(0.25, 0.1, 0.54, 1.01) opacity;
    &.in { opacity: 1; }
}

@keyframes clipToleft {
    0% { clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%); }
    100% { clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); }
}

@keyframes clipToright {
    0% { clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
    100% { clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); }
}

/*--------------------------------------------------------- Animatinos Ends --------------------------------------------------*/
